<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meco.springboot.dao.JobDao">
    <resultMap id="JobResultMap" type="com.meco.springboot.model.Job">
        <id column="zwdm" property="zwdm" jdbcType="VARCHAR"/>
        <result column="category" property="category" jdbcType="VARCHAR"/>
        <result column="zkdw" property="zkdw" jdbcType="VARCHAR"/>
        <result column="zkzw" property="zkzw" jdbcType="VARCHAR"/>
    </resultMap>
    <parameterMap id="job" type="com.meco.springboot.model.Job"/>

    <sql id="Base_Column">
        category, zkdw, dwdm, zkzw, zwdm
    </sql>

    <select id="listJobs" resultMap="JobResultMap">
        select
        <include refid="Base_Column"/>
        from gdjob t
        <where>
            t.zkzw like concat('%', #{zkzw}, '%')
        </where>
        limit #{pageSize}
    </select>
</mapper>